@page "/gamemaster"
@using ARPS.AILib.Models
@using System.Text.Json
@inject GameMasterClient GameMasterClient

<PageTitle>Game Master</PageTitle>

<h1>Game Master</h1>
@if(actionDescription == null)
{
    <p><em>No Data</em></p>
}
else
{
    @foreach (var action in actionDescription)
    {
        <p>@action</p>
    }
}

<form @onsubmit="HandleSubmit">
    <label>Player Action</label>
    <input type="text" id="action" name="action" placeholder="Enter your action" @bind="playerActionInput">
    <select @bind="outcome">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <input type="submit" value="Submit">
</form>

@code {
    private List<string>? actionDescription;
    private List<PlayerAction>? playerActions;
    private string? playerActionInput;
    private bool outcome;

    public async Task OnInitializedAsync()
    {
        actionDescription = new List<string>();
        playerActions = new List<PlayerAction>();
        playerActionInput = "";
    }

    private async Task HandleSubmit()
    {
        var playerAction = new PlayerAction() { Description = playerActionInput, Outcome = outcome };
        Console.WriteLine("Player Action: " + JsonSerializer.Serialize(playerAction));
        var response = await GameMasterClient.GetActionDescription(playerAction);
        Console.WriteLine("Response: " + JsonSerializer.Serialize(response));
        actionDescription = response;
    }

}
